[submodule "vendor/plugins/paperclip"]
	path = vendor/plugins/paperclip
	url = git://github.com/thoughtbot/paperclip.git
[submodule "vendor/plugins/jrails"]
	path = vendor/plugins/jrails
	url = git://github.com/aaronchi/jrails.git
[submodule "vendor/plugins/acts_as_tree"]
	path = vendor/plugins/acts_as_tree
	url = git://github.com/rails/acts_as_tree.git
[submodule "vendor/plugins/will_paginate"]
	path = vendor/plugins/will_paginate
	url = git://github.com/mislav/will_paginate.git
[submodule "vendor/plugins/domid_gum"]
	path = vendor/plugins/domid_gum
	url = git://github.com/nazgum/domid_gum.git
[submodule "vendor/plugins/jclock"]
	path = vendor/plugins/jclock
	url = git://github.com/dsparling/jclock.git
[submodule "vendor/plugins/auto_complete_jquery"]
	path = vendor/plugins/auto_complete_jquery
	url = git://github.com/alexjr85/auto_complete_jquery.git
[submodule "vendor/plugins/mail_queue"]
	path = vendor/plugins/mail_queue
	url = git://github.com/fnando/mail_queue.git
[submodule "vendor/plugins/open_flash_chart"]
	path = vendor/plugins/open_flash_chart
	url = git://github.com/pullmonkey/open_flash_chart.git
[submodule "vendor/plugins/spreadsheet_on_rails"]
	path = vendor/plugins/spreadsheet_on_rails
	url = git://github.com/10to1/spreadsheet_on_rails.git
