<hr>
<h2 style="text-align: center">[NSNCallCenter] PASSWORD RESET</h2>
<hr>
<br/>
Hi <%= @user.person.fullname.strip %>,<br/>
<br/>
Your password has been reset, your new password is:<br/>
<br/>
<b style="margin-left: 100px;"><%= @password %></b><br/>
<br/>  
Please change it to something you can remember more easily.<br/>
<br/>
<br/>
<h3 style="margin-left: 50px;"><i>Nokia Siemens Networks.</i></h3><br/>
<br/>
<i style="margin-left: 50px;">--This message has been generated automatically, please do not reply.--</i><br/>
<br/>
<hr>
