/* This is the custom css for the application*/

html {
	font-size: 14px;
}


/* for use with ui_style(:button) */
.button, .button:visited{	
	display: block;
	float: left;
	font-family: Optima,Verdana,Arial,sans-serif;
	font-size: 0.7em; 
	padding: 0.45em 0.8em;
	margin: .7em 0 0 0;
	margin-left: 10px;
	text-decoration: none;
}

.no_float {
  display: inline;
  float: none;
}

div#filter .button, div#filter .button:visited {
	font-weight:bold;
	margin-top: -5px;
	margin-bottom: 10px;
	display: inline;
	float: none;
}
.action {	
	display: block;
	float: left;
}

.field {
	width: 100%;
	text-align: left;
	display: block;
	vertical-align: middle;
	margin-top: 8px;
	margin-bottom: 10px;
}
.field label {
	display: inline-block;
	width: 150px;
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
	vertical-align: middle;
}

div#filter, #search {
	display:block;
	font-weight:bold;
	color: #7705a8;
	*/
}

/* Styles for content divs and elements*/

body {
	background: white;
	height: 600px;
	margin: 0px;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

div.container_16 {
	margin-bottom: 40px;
	min-height: 554px;
}

div#header {
	background: url("../images/header.png") no-repeat;
	float:left;
	padding-top:20px;
	height: 90px;
	
}

div#footer {	
	margin-top: 20px;
	border-top: 1px solid;
	font-size: 95%;
	width: 100%;
	height: 50px;
	padding-top: 35px;
	display: table;
/*	position: absolute;*/
	bottom: 0px;
	color: silver;
}

div#footer p {
	color: #ff7f01;
	font-size:95%;
    vertical-align: middle;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 20px;
}

div#footer .browsers {
	display: block;
	
}

div#text {
	height: 30px;
	color: #ff7f01;
	font-size:95%;
    vertical-align: top;
	text-align: center;
	padding-left: 10px;
	margin-right: 6px;
	
}

div#footer .browser_link {
	display: inline;
	float: none;
	min-height: 40px;
}

div#footer .browser_link a {
	text-decoration: none;
	color: transparent;
	padding: 10px 4px;
	margin: 0px 3px;
	text-align: middle;
}

div#safari {
	margin-left: 10px;
}

div#safari a {
	background: url('../images/safari.png') no-repeat;
}

div#firefox a {
	background: url('../images/firefox.png') no-repeat;
}

div#chrome a {
	background: url('../images/google-chrome.png') no-repeat;
}

div#toplinks {
	font-size: 100%;
	text-align: right;
	color: silver;
	padding-right: 15px;
	margin-bottom: 10px;
}

div#toplinks b {
	color: #89258e;
}

div#toplinks a{
	text-decoration: none;
	color: #ff7f01;
	
}

div#toplinks a:hover {
	text-decoration: underline;
}

/* Dashboard */

div#dashboard {
	margin-bottom: 15px;
	background: url(custom-theme/images/ui-bg_highlight-soft_100_d7d7d7_1x50.png);
}

div#dashboard ul, #action-nav ul{
	list-style: none;
	width: 100%;
}

div#dashboard ul li a {
	background: url(custom-theme/images/ui-bg_highlight-soft_100_d7d7d7_1x50.png);
	color: #444;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	padding: 0px 7px;
	display: block;
	float: left;
}

div#dashboard ul li a:hover {
	background: url(custom-theme/images/ui-bg_inset-hard_100_cdcdcd_1x100.png) 50% 50%;
	color: #ef8c08;
}

div#dashboard ul li ul.submenu {
	position: absolute;
	width: 940px;
  z-index: 100;
	font-size: 90%;
	clear: both;
	padding-bottom: 5px;
}

/* dialogs */

input#main {
	margin-top: 30px;
	float: right;
}

div#feedback {
	background: url("../images/feedback.png");
	position:fixed;
	height: 126px;
	width: 37px;
	right: 0px;
	top: 35%;
}

/* sessions/new */

div#new_session_main, div#login_box {
	margin-top: 40px;
	background: url("../images/box_background.png") bottom left;
	height: 300px;
}

div#login_form {
	padding-top: 50px;
}

div#login_form input#login_button {
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 15px;
	font-size: 105%;
}

}

div#login_form div#forgot {
	color: #ff7f01;
	text-align: center;
}

div#login_form div#forgot:hover {
	text-decoration: underline:
}

/* listings */
table {
	margin-top: 20px;
	border-spacing: 0px 2px;
	min-width: 350px;
	margin-left: auto;
	margin-right: auto;
}

table#listing {
	width: 700px;
	font-size: 90%;
	color: #333;
}

table#listing.tickets-table {
	width: 900px;
}

table#listing tbody tr {
	border-bottom: solid 1px silver;
}

table#listing tbody tr.odd {
	background-color: #eeeeee;
	vertical-align: middle;
}

table#listing td {
	vertical-align: middle;
	padding-left: 10px;
}

table#listing td.actions_column {
	width: 170px;
}

thead#listing-head th {
	vertical-align: middle;
	font-size: 1em;
	padding: 8px 5px;
}

th#affected_site, th#opened_date {
  width: 90px;
}

table#profile-info tr {
	background-color: #fff;
	height: 30px;
	font-size: 90%;
	vertical-align: middle;
	padding-left: 10px;
}

table#profile-info td b{
	margin-right: 10px;
}

/* errors */
div.fieldWithErrors input {
	border: 2px solid red;
}

div#errorExplanation {
	padding: 10px 20px;
}

div#paginator {
   margin: auto;
   padding-top:30px;
   text-align: center;
}

#paginator a {
	color: #d44817;
	border-color: #666666; 
	padding: 2px 5px;
	margin-right: 5px;
	border-style: solid;
	border-width: 1px;
	text-decoration: none; 
}

#paginator a:hover {
	color: #ffffff;
	background: #777777; 
}

#paginator span {
	padding: 2px 5px;
	margin-right: 5px;
	border-style: solid;
	border-width: 1px; 
}

#paginator span.current {
	background: #d44817;
	color: #ffffff;
	border-color: #d44817; 

	font-weight: bold; 
	padding: 2px 5px;
	margin-right: 5px;
	border-style: solid;
	border-width: 1px;
}

/*Field Manager*/
.assign_attributes {
    background-color: #DCDCDC;
    width: 700px;
}

/* Epiclock */
span.epiclock {
	color: #89258e;
	padding-left: 5px;
}

span.epiclock-digit {
	font-weight: bold;
}

span.epiclock-spacer {
	padding: 0px 2px;
}
