/* This is the custom css for the application*/

/* for use with ui_style(:button) */
a.button {	
	font-size: 80%;
	padding: 0.2em 0.5em;
	text-decoration: none;
}

/* Styles for content divs and elements*/

body {
	background: white;
	height: 600px;
	margin: 0px;
}

div.container_16 {
	margin-bottom: 40px;
	min-height: 554px;
}

div#header {
	background: url("../images/app_logo.png") top left no-repeat;
	height: 90px;
}

div#footer {
	background: url("../images/footer_background.png") repeat-x;
	background-position-y: -35px;
	width: 100%;
	height: 70px;
	display: table;
/*	position: absolute;*/
	bottom: 0px;
}

div#footer p {
	color: white;
	height: inherit;
	display: table-cell;
    vertical-align: middle;
	text-align: center;
}

div#dashboard {
	background: url("../images/dashboard.png");
	background-position-x: -3px;
	height: 60px;
}

div#feedback {
	background: url("../images/feedback.png");
	position:fixed;
	height: 126px;
	width: 37px;
	right: 0px;
	top: 35%;
}

/* sessions/new */

div#new_session_main, div#login_box {
	margin-top: 40px;
	background: url("../images/box_background.png") bottom left;
	height: 300px;
}

div#login_form {
	padding-top: 50px;
}

input#login_button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	font-size: 105%;
}

/* listings */
table {
	min-width: 100px	;
	margin-left: auto;
	margin-right: auto;
}

thead#listing-head th {
	height: 50px;
	font-size: 1.2em;
}

/* errors */
div.fieldWithErrors input {
	border: 2px solid red;
}

div#errorExplanation {
	padding: 10px 20px;
}
