<div><%= image_tag @user.person.photo.url(:medium)%></div>
<div>Name: <%= @user.person.fullname%></div>
<div>User name: <%= @user.login%></div>
<div><%= link_to 'Modificar', :action => 'edit', :id => @user.id%></div>
