<div>e-mail:<%= f.text_field :email%></div>
<div>login:<%= f.text_field :login%></div>
<div>password:<%= f.password_field :password%></div>
<div>password:<%= f.password_field :password_confirmation%></div>
