<%= error_messages_for 'user'%>
<% form_for(:user, @user, :url => { :action => "create"}, :html => { :multipart => true}) do |f| %>

<h2>Add user</h2>

  <%= render :partial => 'form', :locals => { :f => f}%>

<%= f.submit 'Create'%>
<% end%>
